# VEILLE TECHNOLOGIQUE 1 SUR PYTHON

### 1-Comment déclarer une variable en python?  
    => pour le faire il faut simplement choisir le nom de la variable que tu as en tete et tu l'affect simplement une valeur

In [1]:
age=65 
nom= "ZANLE"
Taille=1.8
## cependant comme dans la plus part des language la variable peut pas débuter par un nombre

## 2-Quelles sont les differents types de variables en python ?  
    Les differents types de variables en python sont:  
        - le type entier: int  
        -le type réel   : float  
        -le type chaine de caractères: string
        -le type booléen : bool

## 3- Déclarons les variables A ,B et C tels que A prend la valeur 15 , B la valeur 4 et C la valeur A+B

In [3]:
A=15

In [4]:
B=4

In [5]:
C=A+B

## 4-Utilisons print pour afficher la valeur de A+B sous la forme (le résultat de A+B=valeur)

In [6]:
print("le résultat de",A,"+",B,"=",(A+B))

le résultat de 15 + 4 = 19

In [10]:
#autre méthode 
print("le résultat de {}+{}= {}".format(A,B,A+B))

le résultat de 15+4= 19

## 5-Faire les Opérations suivantes:

In [23]:
A=15
B=4
c=A+B
D=A*B}
E=A**B                  }        # en python la puissance est representé par **  ;exp: 2**4 
F=A/B                           #  le symbole / represente la division en python
G=int(A/B)                      # le int permet de faire une division entière
H1=float(A/B)-int(A/B)          # Prémière méthode pour recupperer la partie décimale d'un nombre 
H2=(A/B)%1                      # deuxième méthode pour récupperer la partie décimale d'un nombre

In [30]:
print("la valeur de A={}  et B={}".format(A,B))

print("la valeur de C est:   {}+{}={}".format(A,B,C))

print("la valeur de D est :  {}*{}={}".format(A,B,D))

print("la valeur de E est:   {}**{}={}".format(A,B,E))

print("la valeur de F est:   {}/{}= {}".format(A,B,F))

print("la valeur de G est:    int({}/{})= {}".format(A,B,G))

print("la valeur de H1 est:   float({}/{})-int({}/{})={}".format(A,B,A,B,H1))

print("la valeur de H2 est:   ({}/{})%1={}".format(A,B,H2))

la valeur de A=15  et B=4
la valeur de C est:   15+4=19
la valeur de D est :  15*4=60
la valeur de E est:   15**4=50625
la valeur de F est:   15/4= 3.75
la valeur de G est:    int(15/4)= 3
la valeur de H1 est:   float(15/4)-int(15/4)=0.75
la valeur de H2 est:   (15/4)%1=0.75

## 6-CREATION DE DICTIONNAIRE EN PYTHON    

pour créer un dictionnaire vide en python il suffit d'écrire: nom_de_ton_dictionnaire={}  
exemple: dico={}

### -création de notre prémier dictionnaire initialisé avec les valeurs des opérations réaliser plus haut

In [40]:
premier_dic={"15":15,"4":4,"15+4":15+4}
#affichons le dictionnaire avec print
print(premier_dic)

{'15': 15, '4': 4, '15+4': 19}

In [44]:
# ajoutons 15**4 et 15/4
premier_dic["15**4"]=15**4
premier_dic["15/4"]=15/4
#affichons la liste de notre dictionnaire
premier_dic

{'15': 15, '4': 4, '15+4': 19, '15**4': 50625, '15/4': 3.75}

In [52]:
#pour changer la valeur d'une clé il suffit d'affecter une nouvelle valeur à la clé 
premier_dic["15"]=16

#affichons le dictionnaire
print(premier_dic)

{'15': 16, '4': 4, '15+4': 19, '15**4': 50625, '15/4': 3.75}

In [54]:
#afficher la liste des clés du dictionnaire

premier_dic.keys()

dict_keys(['15', '4', '15+4', '15**4', '15/4'])

In [55]:
#afficher la liste des valeurs du dictionnaire
premier_dic.values()

dict_values([16, 4, 19, 50625, 3.75])

In [59]:
#affichons la liste des clés values du dictionnaire
for i,j in premier_dic.items():
    print(i,j)

15 16
4 4
15+4 19
15**4 50625
15/4 3.75

## 7-Création des Tuples en python   
    pour créer un tuple vide en python il suffit d'écrire: nom_de_ton_tuple=()

In [61]:
#création d''un tuple déja initialisé 
premier_tup=(15,4,15+4)

#affichons notre tuple
premier_tup

(15, 4, 19)

### Les tuples sont immutable c'est à dire qu'on peut pas les modifier (ajouter, supprimer...)

## 8-Les listes en puthon  
    pour créer une liste vide en python il suffit de d'écrire: nom_de_ta_liste=[]  
    exemple: fruit=[]

In [101]:
# crétion de notre première liste
liste1=["A","B","C","D"]

# crétion de notre deuxième liste
liste2=[15,4,15+4,15*4]

In [102]:
# crétion de notre troisième liste

liste3=[liste1,liste2]

In [103]:
# affichons la liste 3
liste3

[['A', 'B', 'C', 'D'], [15, 4, 19, 60]]

In [104]:
# ajoutons E et F à la liste 1
liste1.append("E")
liste1.append("F")
print(liste1)

['A', 'B', 'C', 'D', 'E', 'F']

In [105]:
#supprimons B de l liste1
liste1.remove("B")

In [106]:
# affichons la liste1
print(liste1)

['A', 'C', 'D', 'E', 'F']

In [107]:
# remplacons A par G dans la liste1
liste1[liste1.index("A")]="G"

In [109]:
print(liste1)

['G', 'C', 'D', 'E', 'F']

## PROGRAMES A EXECUTER.

## Premier  Programme

In [14]:
import sys
try:
    a=float(input("entrez un entier a="))
    a=int(a)
except ValueError:
    print("vous avez fait une érreur, la valeur entré n'est pas un nombre")
    sys.exit(1)

try:
    b=float(input("entrez un entier b="))
    b=int(b)
    print("{}+{}={}".format(a,b,a+b))
except ValueError:
    print("vous avez fait une érreur, la valeur entré n'est pas un nombre")
    sys.exit(1)

entrez un entier a=52.9
entrez un entier b=45.23
52+45=97

## DEUXIEME PROGRAMME

In [13]:
try:
    a=float(input("antrez un nombre enier a= "))
    a=int(a)  
except ValueError:    
    print("vous avez fait une érreur")
    sys.exit(1)
try:
    
    b=float(input("entrez un autre nombre entier b= "))
    b=int(b)
except:
    print("vous avez fait une érreur")
    sys.exit(1)
finally:
    if a>b:
          print("{} est supperieur à {}".format(a,b))
    elif a<b:
          print("{} est inférieur à {}".format(a,b))
    else:
         print("{}={}".format(a,b))

antrez un nombre enier a= 86
entrez un autre nombre entier b= 12
86 est supperieur à 12